* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: 'Roboto', sans-serif;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  border-radius: 35px;
  background-color: #585555;
}

::-webkit-scrollbar-thumb {
  border-radius: 35px;
  background-color: #2054ff;
}
body {
 background-color: #407ff3;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
  transition: opacity 5s;
}
#sectionMain {
  min-width: 320px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 50px;
}

#contentHeader {
  border: 1px solid #202020;
  background-color: #080808;
  width: 100%;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.img-logoName,
.img-logoNameFooter {
  width: 300px;
}
li {
  list-style: none;
}

.navbar li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2em;
  
}

.navbar {
  width: 100%;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 34px;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo-navMenu {
  width: 250px;
  padding: 10px 0;
}
.nav-link {
  
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 8px 10px;
  transition: 0.5s ease;
}

.nav-link:hover {
  color: #407ff3; 
  cursor: pointer;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  
}
.hamburguer {
  display: none;
  cursor: pointer;
}

.bar {
  background-color: #407ff3;
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 2px;
  margin: 5px auto;  
  transition: all 0.3s ease-in-out;
}

#footer {
  border-top: 1px solid #202020;
  background-color: #080808;
  width: 100%;
  min-height: 70px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  padding: 12px 34px;
}

.img-logoNameFooter {
  width: 300px;
}

.btnInicio a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 700;
  border: 2px solid transparent;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 10px 12px;
  transition: 0.5s ease;
}

.btnInicio a:hover {
  color: #2054ff;
 
  cursor: pointer;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  text-shadow: 0.5em 0.5em 0.5em #000000;
}

.containerMain {
  border: 1px solid #202020;
  background-color: #080808;
  border-radius: 12px;
  width: 90%;
  min-width: 380px;
  min-height: 740px;
  
}

.mainSentence {
  font-size: 2em;
  color: #ffffff;
  padding: 10px;
  text-align: center;  
}

.strongStyle {
  color: #2054ff;
  font-size: 1.4em;
  font-weight: 700;
}

.myNameTitle{
  color: #2054ff;
  font-weight: 700;
  font-size: 2.6em;
}

.subTitle{
  color: #407ff3;
  font-size: 2em;
}

.pointParagraph {
  color: #ffffff;
  font-size: 1em;
}
/*-------------inicio style containerMai01-------------*/
.containerMain01 {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  padding: 15px;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}
.s-containerText {  
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 10px;
}
.contentTextMain {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
 
}
.s-containerImg {
  border: 1px solid #407ff3;
  background-color: #000000;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 360px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  -webkit-transform: skew(15deg);
  -ms-transform: skew(15deg);
  transform: skew(15deg);
  padding: 10px 0;
}

.img-LogoChaves {
  width: 400px;  
  opacity: 0.5;
}

.contentIcons {  
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  height: auto;
  align-items: end;
  justify-content: center;
  margin-top: 10px;
}

.icon-GitHub,
.icon-LinkEdin,
.icon-Whatsapp,
.icon-Instagran {
  width: 60px;
  margin-left: 20px;
  opacity: 0.5;
}
/*-------------fim style containerMai01-------------*/

/*-------------inicio style containerMai02-------------*/
.containerMain02 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 25px;
  column-gap: 20px;
}

.title-Main02 {
  color: #2054ff;
  font-size: 2.2em;
  padding: 15px 20px;
}

.s-containerMain {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}
.s-contentTextArea {
  border: 1px solid #202020;
  background-color: #080808;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  padding: 20px 25px;
}

.textMain {
  width: 95%;
  color: #ffffff;
  font-size: 1.4em;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.s-contentImg {
  
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 300px;
  display: flex;
  justify-content: center;
  transform: translateX(10px) rotate(10deg) translateY(5px);
  opacity: 0.5;
}

.img-myPhoto {
  width: 300px;  
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  
}
.tetxQuote {
  color: #407ff3;
  font-size: 1.5em;
  text-align: center;
}
/*-------------Fim style containerMai02-------------*/

/*-------------Inicio style containerMai03-------------*/

.containerMain03 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px 50px;
  padding: 25px 0;
}
.textStyle02 {
  color: #407ff3;
  font-size: 1.1em;
  text-align: center;
}

.img-Main03 {
  width: 30%;
  height: 550px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 55px;
  padding: 20px 0;
  align-items: center;
  justify-content: center;
}

.contentMainCards {
  border: 1px solid #202020;
  background-color: #080808;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px 15px;
  padding: 20px 0;
}
.containerCards {
  border: 0.5px solid #202020;
  background-color: #020202;
  border-radius: 8px;
  width: 150px;
  height: 160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  perspective: 1000px;
}

.cardFront,
.cardBack {
  position: absolute;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: all 1s ease;
}

.cardBack {
  padding: 10px;
}

.cardFront {
  transform: rotateY(0deg);
}

.cardBack {
  transform: rotateY(180deg);
}

.containerCards:hover .cardFront {
  transform: rotateY(-180deg);
}

.containerCards:hover .cardBack {
  transform: rotateY(0deg);
}

.img-flags {
  width: 80px;
}

.img-Bulmaflags {
  width: 60px;
}

/*-------------Fim style containerMai03-------------*/

/*-------------inicio style containerMai04-------------*/
.titleCards {
  color: #2054ff;
  font-size: 1.3em;
}

.textCards {
  color: #6b84b3;
  font-size: 1.1em;
}

.btnCards {
  width: 130px;
  font-size: 1.1em;
  border-radius: 8px;
  padding: 10px 8px;
  background-color: #202020;
  border-color: transparent;
  color: #2054ff;
}

.containerMain04 {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}
.s-containerCards {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px 20px;
}
.contentCard {
  background-color: #000000;
  width: 350px;
  height: 280px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  padding: 10px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
}

.contentCard1 {
  border: 1px solid #e95f0e;
}

.contentCard2 {
  border: 1px solid #2054ff;
}

.contentCard3 {
  border: 1px solid #951bce;
}

.contentCard4 {
  border: 1px solid #dd62dd;
}

.contentCard5 {
  border: 1px solid #44b164;
}

.contentCard6 {
  border: 1px solid #e90e50;
}
/*-------------Fim style containerMain04-------------*/
@media(max-width:1360px){

  .subTitle{
    font-size: 1.6em;
  }

  .containerMain01{
    flex-direction: column;
    row-gap: 35px;
    padding: 25px 0;
  }
  .contentTextMain{
    row-gap: 20px;
  }

  .tetxQuote{
    font-size: 1.4em;
  }
  .s-containerText{
    width: 90%;    
  }

  .textStyle{
    text-align: center;
  }

  .containerMain02{
    
    padding: 25px 10px;
    gap: 20px;
  }
  .textMain{
    font-size: 1.2em;
  }
  .s-contentTextArea{
    width: 65%;
    padding: 15px 5px 15px 10px; 
  }

  .containerMain03{
    flex-direction: column;
  }

  .contentMainCards{
    width: 95%;
  }

}

@media(max-width:1146px){
  .s-containerCards{
    width: 95%;
  }
}

@media(max-width:1040px){

  .containerMain03{
    row-gap: 20px;
  }

 .s-contentTextArea{
  width: 95%;
}

.s-contentImg{
  width: 250px;
}
.img-myPhoto{
  width: 250px;
}

.img-Main03{
  width: 95%;  
  height: auto;
  padding: 10px 0;
  
}

.img-devPreto{
  width: 300px;
}
}


@media (max-width: 768px) {
 

  .hamburguer {
    display: block;
    margin-bottom: 70px;
  }

  .hamburguer.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburguer.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburguer.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    column-gap: 50px;
    padding: 25px 30px;
  }

  .nav-menu {
    position: fixed;
    left: 100%;
    top: 0px;
    gap: 0;
    border-radius: 0 0 20px 20px;
    background-color: #0c0c0c;
    opacity: 1;
    flex-direction: column;
    width: 100%;
    height: auto;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}
